# 𝑪𝒐𝒎𝒎𝒐𝒏𝒍𝒚 𝒖𝒔𝒆𝒅 𝒃𝒖𝒊𝒍𝒕-𝒊𝒏 𝒇𝒖𝒏𝒄𝒕𝒊𝒐𝒏𝒔 𝒊𝒏 𝑷𝒚𝒕𝒉𝒐𝒏

In [1]:
#print()
print("Hello, World!")  # Output: Hello, World!

Hello, World!

In [2]:
#len()
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
print(length)  # Output: 5

5

In [3]:
#input()
user_input = input("Enter something: ")
print(user_input)  # If user types "study mart", Output: study mart

Enter something: 7
7

In [4]:
#type()
x = 5
print(type(x))  # Output: <class 'int'>

<class 'int'>

In [5]:
#int(), float(), str()

num_str = "42"
num_int = int(num_str)
print(num_int)  # Output: 42
print(float(num_int))  # Output: 42.0

42
42.0

In [6]:
#range()
numbers = list(range(1, 6))
print(numbers)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [7]:
#sum()
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)
print(total)  # Output: 15

15

In [8]:
#max(), min()
numbers = [3, 1, 4, 1, 5, 9, 2]
print(max(numbers))  # Output: 9
print(min(numbers))  # Output: 1

9
1

In [9]:
#abs()
absolute_value = abs(-10)
print(absolute_value)  # Output: 10

10

In [10]:
#round()
rounded_num = round(3.14159, 2)
print(rounded_num)  # Output: 3.14

3.14

In [11]:
#sorted()
numbers = [3, 1, 4, 1, 5, 9, 2]
sorted_numbers = sorted(numbers)
print(sorted_numbers)  # Output: [1, 1, 2, 3, 4, 5, 9]

[1, 1, 2, 3, 4, 5, 9]

In [12]:
#any(), all()
bool_list = [True, False, True]
print(any(bool_list))  # Output: True
print(all(bool_list))  # Output: False

True
False

In [13]:
#str.join()
my_list = ["apple", "banana", "orange"]
joined_str = " ; ".join(my_list)
print(joined_str)  # Output: apple ; banana ; orange

apple ; banana ; orange

In [14]:
#str.lower(), str.upper()
my_string = "Hello, World!"
print(my_string.lower())  # Output: hello, world!
print(my_string.upper())  # Output: HELLO, WORLD!

hello, world!
HELLO, WORLD!

In [15]:
#list(), tuple()
my_tuple = (1, 2, 3)
tuple_to_list = list(my_tuple)
print(tuple_to_list)  # Output: [1, 2, 3]
print(tuple(tuple_to_list))  # Output: (1, 2, 3)

[1, 2, 3]
(1, 2, 3)

In [16]:
#dict()
my_dict = dict(name="John", age=25)
print(my_dict)  # Output: {'name': 'John', 'age': 25}
print(my_dict.keys())  # Output: dict_keys(['name', 'age'])
print(my_dict.values())  # Output: dict_values(['John', 25])

{'name': 'John', 'age': 25}
dict_keys(['name', 'age'])
dict_values(['John', 25])

In [17]:
#set()
my_set = set([1, 2, 3, 3, 4])
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [18]:
#enumerate()
my_list = ["a", "b", "c"]
for index, value in enumerate(my_list):
    print(index, value)
# Output:
# 0 a
# 1 b
# 2 c

0 a
1 b
2 c

In [19]:
#zip()
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 22]
zipped_data = zip(names, ages)
print(list(zipped_data))  # Output: [('Alice', 25), ('Bob', 30), ('Charlie', 22)]

[('Alice', 25), ('Bob', 30), ('Charlie', 22)]

In [20]:
#reversed()
my_list = [1, 2, 3]
reversed_list = list(reversed(my_list))
print(reversed_list)  # Output: [3, 2, 1]

[3, 2, 1]

In [21]:
#sum() (with start argument)
numbers = [1, 2, 3]
total = sum(numbers, 100)  # sum starting from 100
print(total)  # Output: 106

106

In [22]:
#abs() (for complex numbers)
complex_num = 3 + 4j
magnitude = abs(complex_num)
print(magnitude)  # Output: 5.0

5.0

In [23]:
#slice()
my_list = [1, 2, 3, 4, 5]
my_slice = slice(1, 4)
sliced_list = my_list[my_slice]
print(sliced_list)  # Output: [2, 3, 4]

[2, 3, 4]

In [24]:
#chr(), ord()
euro_symbol = chr(8364)  # returns '€'
code_point = ord('€')  # returns 8364
euro_symbol

'€'

In [25]:
code_point

8364