In [1]:
#Constructor
my_tuple = tuple([1, 2, 3])
print(my_tuple)  # Output: (1, 2, 3)

(1, 2, 3)

In [2]:
#Tuple Magic (Unpacking)
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a, b, c)  # Output: 1 2 3

1 2 3

In [3]:
#Nested Tuple
nested_tuple = (1, (2, 3), 4)
print(nested_tuple)  # Output: (1, (2, 3), 4)

(1, (2, 3), 4)

In [4]:
#Positive Index
my_tuple = (1, 2, 3, 4)
print(my_tuple[1])  # Output: 2

2

In [5]:
#Negative Index
my_tuple = (1, 2, 3, 4)
print(my_tuple[-1])  # Output: 4

4

In [6]:
# Range / Slice
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[1:3])  # Output: (2, 3)

(2, 3)

In [7]:
'''Add / Change / Delete
Add: Tuples are immutable, so you cannot add elements to an existing tuple.
Change: Tuples are immutable, so you cannot change elements in a tuple.
Delete: You can delete the entire tuple using del.'''

my_tuple = (1, 2, 3)
del my_tuple

In [8]:
#Loop
my_tuple = (1, 2, 3)
for item in my_tuple:
    print(item)
# Output:
# 1
# 2
# 3

1
2
3

In [9]:
#Membership
my_tuple = (1, 2, 3)
print(2 in my_tuple)  # Output: True

True

In [10]:
# Repetition
my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 2
print(repeated_tuple)  # Output: (1, 2, 3, 1, 2, 3)

(1, 2, 3, 1, 2, 3)

In [11]:
# Concatenation
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)