In [1]:
#Constructor
my_set = set([1, 2, 3, 4])
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [2]:
#Loop / Access Values
my_set = {1, 2, 3, 4}
for value in my_set:
    print(value)
# Output:
# 1
# 2
# 3
# 4

1
2
3
4

In [3]:
#Add
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

Delete

In [4]:
#Remove a specific item:
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)  # Output: {1, 3}

{1, 3}

In [5]:
#Discard an item (doesn't raise an error if the item isn't found):
my_set = {1, 2, 3}
my_set.discard(4)  # No error, even though 4 is not in the set
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

In [6]:
#Clear the entire set:
my_set = {1, 2, 3}
my_set.clear()
print(my_set)  # Output: set()

set()

In [7]:
#Join
set1 = {1, 2, 3}
set2 = {3, 4, 5}
joined_set = set1.union(set2)
print(joined_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [8]:
#Union
set1 = {1, 2, 3}
set2 = {4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [9]:
#Intersection
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3, 4}

{3, 4}

In [10]:
#Difference
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2}

{1, 2}

In [11]:
#Symmetric Difference
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)  # Output: {1, 2, 5, 6}

{1, 2, 5, 6}

In [12]:
#Frozenset
frozen = frozenset([1, 2, 3, 4])
print(frozen)  # Output: frozenset({1, 2, 3, 4})

frozenset({1, 2, 3, 4})